.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title {
  font-family: "orbitron", system-ui;
  font-size: 3rem;
}

.header-content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
